body {
    display: flex;
    flex-direction: row;
}

#interface {
    width: 200px;
    height: 500px;
    border: solid;
}

#canvas {
    display: flex;
    width: 500px;
    height: 500px;
    border: solid;
}

.helter {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.skelter {
    display: flex;
    flex-grow: 1;
}